.group {
  text-align: left;
  margin-bottom: 1rem;

  .label {
    font-family: SegoeUI;
    font-size: 0.75rem;
    font-weight: 600;
    color: #464646;
    margin-bottom: 0;
  }

  .field,
  input {
    font-size: 0.75rem;
    color: #202020;
  }
}
