<html>

<head>
    <title> Quiz 1</title>
    <style>
        table,
        th,
        .t1,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        .t1 td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body>
    <div className="t1">
        <table style="border: 1px black">
            <caption> Table 1.1</caption>
            <tr>
                <th> Registration form </th>
            </tr>
            <tr>
                <td><label for="fname">First name</label><br></td>
                <td> <input type="text" id="fname" name="fname" value="John" required><br></td>
            </tr>
            <tr>
                <td><label for="fname">First name</label><br></td>
                <td> <input type="text" id="fname" name="fname" placeholder="61184"><br></td>
            </tr>
            <tr>
                <td><label for="fname">First name</label><br></td>
                <td> <input type="text" id="fname" name="fname" value="John"><br></td>
            </tr>
            <tr>
                <td><label for="fname">First name</label><br></td>
                <td>
                    <input type="checkbox" id="fname" name="fname" value="John"> test 1
                    <input type="checkbox" id="fname" name="fname" value="John"> test 2
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="fname" name="fname" value="Submit">
                </td>
                <td>
                    <input type="submit" id="fname" name="fname" value="Clear">
                </td>
            </tr>
        </table>
    </div>
</body>

</html>