.desert-navbar {
  background: #e5e5ee;
  text-align: left !important;
  height: 90px;
}
.desert-navbar .logo {
  margin-left: 70px;
  padding-top: 15px;
  display: inline-block;
}

.desert-navbar .logo .desert-logo {
  width: 250px;
  height: 60px;
}

.cart {
  position: relative;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.cart-icon {
  cursor: pointer;
}

.number-of-items {
  position: absolute;
  top: -6px;
  right: -18px;
  color: #c14679;
}

.user {
  button {
    background: none !important;
    box-shadow: none !important;
    color: black !important;
    border: none !important;
  }
}

.search {
  position: relative;
  width: 70%;
  margin: auto;
  svg {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
